Job Bot.json
{
  "name": "Job Bot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -448,
        -48
      ],
      "id": "5dc4e697-b78e-4ca1-97c3-1d8aa2f1b4ae",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.adzuna.com/v1/api/jobs/sg/search/1?app_id=1f34d75d&app_key=796d91db3b37c4178e4c148e38475c32&what=ai&results_per_page=20",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -240,
        128
      ],
      "id": "aa83a1bc-64bc-4768-97b5-2b3f9b5a8eb2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://remotive.com/api/remote-jobs",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -240,
        -144
      ],
      "id": "44b278f9-2ead-4efc-8551-3f15f04be350",
      "name": "HTTP Request1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        16,
        -32
      ],
      "id": "a83cef58-9af1-4908-81f7-9790fa7bf6f1",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "let jobs = [];\n\nfor (const item of $input.all()) {\n  const data = item.json;\n\n  // Adzuna\n  if (data.results) {\n    for (const job of data.results) {\n      jobs.push({\n        title: job.title,\n        company: job.company?.display_name || \"Unknown\",\n        location: job.location?.display_name || \"singapore\",\n        url: job.redirect_url\n      });\n    }\n  }\n\n  // Remotive (optional)\n  if (data.jobs) {\n    for (const job of data.jobs) {\n      jobs.push({\n        title: job.title,\n        company: job.company_name,\n        location: \"remote\",\n        url: job.url\n      });\n    }\n  }\n}\n\nreturn jobs.map(j => ({ json: j }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -32
      ],
      "id": "e158b8fa-37e4-43ff-91d7-32acb537de38",
      "name": "Normalize"
    },
    {
      "parameters": {
        "jsCode": "return items.filter(item => {\n  const loc = (item.json.location || \"\").toLowerCase();\n\n  return (\n    loc.includes(\"singapore\") ||\n    loc.includes(\"remote\")\n  );\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -32
      ],
      "id": "ed8a5f3a-6c42-4244-833e-89ff5f7d629f",
      "name": "filter"
    },
    {
      "parameters": {
        "jsCode": "return items\n.map(item => {\n  let score = 0;\n\n  const text = (item.json.title + \" \" + item.json.company).toLowerCase();\n\n  if (text.includes(\"ai\")) score += 5;\n  if (text.includes(\"machine learning\")) score += 5;\n  if (text.includes(\"data\")) score += 3;\n  if (text.includes(\"engineer\")) score += 2;\n  if (text.includes(\"analyst\")) score += 2;\n\n  // boost Singapore jobs\n  if (item.json.location.toLowerCase().includes(\"singapore\")) {\n    score += 5;\n  }\n\n  return {\n    json: {\n      ...item.json,\n      score\n    }\n  };\n})\n.sort((a, b) => b.json.score - a.json.score)\n.slice(0, 5);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        -32
      ],
      "id": "11a93873-eb78-48e8-92fd-081f663baf48",
      "name": "Ai ranking"
    },
    {
      "parameters": {
        "jsCode": "let msg = \"🇸🇬 Top AI Jobs in Singapore\\n\\n\";\n\nitems.forEach((job, i) => {\n  msg += `${i + 1}. ${job.json.title}\\n`;\n  msg += `🏢 ${job.json.company}\\n`;\n  msg += `📍 ${job.json.location}\\n`;\n  msg += `⭐ Score: ${job.json.score}\\n`;\n  msg += `🔗 ${job.json.url}\\n\\n`;\n});\n\nreturn [{ json: { message: msg } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        -32
      ],
      "id": "04bf66e0-9665-4f28-9421-4b7113918269",
      "name": "Format message"
    },
    {
      "parameters": {
        "chatId": "7567722091",
        "text": "={{$json[\"message\"]}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1056,
        -32
      ],
      "id": "0707a455-55f5-479c-86c2-605979d0529f",
      "name": "Send a text message1",
      "webhookId": "ea7c0f42-4000-4949-ad45-23988aaea08e",
      "credentials": {
        "telegramApi": {
          "id": "ZVRWxVSzJxDFr8Y5",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter": {
      "main": [
        [
          {
            "node": "Ai ranking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ai ranking": {
      "main": [
        [
          {
            "node": "Format message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format message": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "72685616-cb6d-4272-bbea-ef9d2fa9cdf3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0ec9692a475d22f1064fc9c1526614747245f159ec44ece7c3f071156c27710e"
  },
  "id": "dghLDSBYXvaHhn9W",
  "tags": []
}